html, body { 
    height: 100%; 
}
html{
    background-image: linear-gradient(to right, brown 20%, black 100%);
    background-size:contain;
} 
/* el asterisco es obligatorio para dar margen y relleno al medio de la pagin */
#lapicadanosune{
    background-repeat:no-repeat;
    background-size: contain;
}

#final{
    background-image:url(../img/fondoheader.png);
    background-size: 100%;
}


.logotipoFace{
    width: 50px;
    height: 50px;
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}
.mR{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.ubicacion{
    font-size: 20px;
    color:black;
    text-decoration:underline;
    font-weight: bold;
    margin: 20px;
}

.card{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}
.card__titulo{
    color: rgb(231, 231, 87);
    font-size: 40px;
    text-align:right;
    margin: auto;
}
.card__imagen{
    display:inline-block;
    width: 480px;
    height: 480px;
    margin: 5px 50px;
    border-style:dashed;
    border-color: rgb(231, 231, 87);
    border-width: 10px;
}
.card__titulo--texto{
    color:rgb(251, 251, 79);
    font-size: 20px;
    font-weight: normal;
    text-align:right;

}
.card__subtitulo{
    color:black;
    font-size: 30px;
    margin-bottom: 0%;
    font-weight: bold;
    border-color: brown;
    border-style: groove;
    text-align: center;
}
.card__subtitulo--texto{
    color: rgb(251, 251, 79);
    font-size: 20px;
    text-align: center;
    font-weight:lighter;
    font-style: oblique;
}

.video_index{
    border-style: double;
    border-color: black;
}

.header{
    background-image: url(../img/fondoheader.png);
}



header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-end;
}
.logotipo{
    width: 150px;
    height: 150px; 
}

/* Clase para aplicar formato grueso, bold es negrita y bolder con mas relleno en negrita */
.negritaNegrita{
    font-weight: bolder;
}

/*Clase para formato cursiva*/
.cursiva{
    font-style: oblique;
}
/* Clase para letra en negro */
.colorYellow {
    color: rgb(246, 255, 113);
}

/*Clase para tamaño de fuente pequeña*/
.fuentePequeña{
    font-size: 20px;
}
/*Clase para tamaño de fuente grande*/
.fuenteGrande{
    font-size: 58px;
}

/* Se le saca la lista a la lista de navegacion de servicios,productos, etc */
.listaInicio{
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.listaInicio{
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content:end;
}

/*Clase para tamaño de fuente mediana*/
.fuenteMediana{
    font-size: 28px;
}
/*Clase para negrita normal*/
.normalNegrita{
    font-weight: normal;
}
/*Clase para ubicacion de letras a la izquierda*/
.izquierda{
    text-align:left ;
}
/*Clase para ubicacion de letras a la derecha*/
.derecha{
    text-align: right;
}
/*Clase para ubicacion de letras centradas*/
.centrada{
    text-align: center;
}
/*Clase para ubicacion de letras justificada*/
.justificada{
    text-align: justify;
}

h3{
    padding: 0px;
    margin: 30px;
    border-style:groove;
    border-radius: 110px;
    border-color:brown;
    border-top-width: 10px;
}
ul li a{
    color: black;
    line-height: 1.4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.listaInicio li{
    list-style: none;
    display: inline-block;
    border-style:double;
    background-size: 70px;


}
a{
    text-decoration: none;
}

footer {
	text-align: center;

}

/*HTML CONTACTO */

.recuadroFormulario{
    border-color: black;
    border-style: double;
    border-width: 5px;
}

input for {
    height: 100px;
    width: 100px;
    transition: all 2s;
}

input:focus {
    width: 300px;
    height: 20px;
    font-size: 20px;
}

.mapa{
    white-space:nowrap;
    text-align: center;
    width: 300px;
    margin: 5px;
}
#largeMapLink{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: black;
    margin: 5px;
}
#dirMapLink{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: black;
}

/*HTML GALERIA */
#nuestrasDelicias{
    margin-top: 20px;
    padding-bottom: px;
    height: 100px;
    width: 1250px;
    font-size: 30px;
    color: rgb(231, 231, 87);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    text-align:center;


}

.caja_fiambres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-image: url(../img/junckers-plank-oak-darkcoco-textured.Jpg);
    background-size: 2100px;
    background-repeat: no-repeat;
}
.caja_fiambres{
    height:min-content;
}


.card_fiambres{
    background-size: 2000px;
    height: 400px;
    width: 500px;
}
.nombres_fiambres{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(251, 251, 79);
}

.texto_fiambres{
    color:blanchedalmond;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-right: 100px;
    padding-bottom: 3px;

}
.foto_fiambres{
    width: 200px;
    height: 200px;
    margin-left:  100px;
    border-style:dashed;
    border-color: brown;
    border-width: 5px;
    align-items: center;
    
}

/* PROMOCIONES */

.las_mejores--ofertas{
    border: solid 3px black;
    border-bottom: 50px;
    padding: 5px;
    margin: left;
    overflow: scroll;
    display: inline-block;
    font-size: 10px;
    width: 120px;
    height: 80px;
}

.container_grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 10px;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer"
}

header{
    grid-area: header;
    grid-template-columns: repeat (2, 2fr);
    grid-area: -10px;
}
main{
    grid-area: main;
    grid-template-columns: repeat(1, 1fr);
}

aside{
    grid-area: aside;
    grid-template-columns: 0px;
}

footer{
    grid-area: footer;
    grid-template-columns: auto;
    grid-area: 300px;
}


.texto_fiambres1{
    color: rgb(231, 231, 87);
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    border-width: 5px;
}
.foto_fiambres1{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-style:dashed;
    border-color: rgb(246, 255, 113);
    border-width: 5px;
    align-items: center;
    transition: height 2s, width 2s;

}


.foto_fiambres1:hover{
width: 300px;
height: 300px;
}

.card_fiambres1{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 25px;
    background-size: 2400px;
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-bottom: 120px;
}

.caja_fiambres1{
    width: 1250px;
    height: 1180px;

}

.gradiente{
    background-image: linear-gradient rgba(243, 143, 12, 0.553)60%,rgb(251, 251, 79)40%;

}

/* REGALOS */



.diadelamigo {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 70px;
    margin-top: 20px;
    width: 450px;
    height: 100px;
    animation-name: diadelamigo;
    animation-duration: 10s;
    animation-delay: 0s;
}








